.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
   margin: 0 5px;
  }
  
  .header-container{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table-btn{
    text-align: left;
    width:6rem ;
    margin: 1rem 0; 
  }
  .table-container{
    width: 90%;
    margin: 10px auto;
  }
  .filter-group{
    display: flex;
  }
  .filter-option{
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  .radio-btn{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

.radio-btn:checked:after {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #008060;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}